<h3> Opponent Usage </h3>

<table class="table table-striped">
  <thead>
    <th class="usage-header"> Pokemon </th>
    <th class="usage-header"> Total Battles Seen </th>
    <th class="usage-header"> Total Battles Used </th>
    <th class="usage-header"> Used % </th>
    <th class="usage-header"> Lead % </th>
    <th class="usage-header"> Total Battles Won </th>
    <th class="usage-header"> Win % </th>
    <th class="usage-header"> Total Battles Lead </th>
    <th class="usage-header"> Battles Won When Lead </th>
    <th class="usage-header"> Lead Win % </th>
  </thead>
  <tbody>
    <% @opponent_pokemon_usage.each do |pokemon_usage| %>
      <tr>
        <td class="usage-data">
          <%= pokemon_usage.pokemon %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.total_battles %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.used_battles %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.used_pct %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_pct %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.used_wins %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.win_pct %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_battles %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_wins %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_win_pct %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

