<h3> Individual Usage </h3>

<table class="table table-striped">
  <thead>
    <th class="usage-header"> Pokemon </th>
    <th class="usage-header"> Total Battles Used </th>
    <th class="usage-header"> Used % </th>
    <th class="usage-header"> Lead % </th>
    <th class="usage-header"> Total Battles Won  </th>
    <th class="usage-header"> Win % </th>
    <th class="usage-header"> Total Battles Lead </th>
    <th class="usage-header"> Battles Won When Lead </th>
    <th class="usage-header"> Lead Win % </th>
  </thead>
  <tbody>
    <% @pokemon_usage.each do |pokemon_usage| %>
      <tr>
        <td class="usage-data">
          <%= pokemon_usage.pokemon %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.used_battles %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.used_pct %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_pct %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.used_wins %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.win_pct %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_battles %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_wins %>
        </td>
        <td class="usage-data">
          <%= pokemon_usage.lead_win_pct %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>


<h3> Lead Combination Usage </h3>
<table class="table table-striped">
  <thead>
    <th class="usage-header"> Pokemon 1 </th>
    <th class="usage-header"> Pokemon 2 </th>
    <th class="usage-header"> Total Battles Used </th>
    <th class="usage-header"> Lead % </th>
    <th class="usage-header"> Wins </th>
    <th class="usage-header"> Win % </th>
  </thead>
  <tbody>
    <% @lead_usage.each do |lead_usage| %>
      <tr>
        <td class="usage-data">
          <%= lead_usage.pokemon[0] %>
        </td>
        <td class="usage-data">
          <%= lead_usage.pokemon[1] %>
        </td>
        <td class="usage-data">
          <%= lead_usage.total_battles %>
        </td>
        <td class="usage-data">
          <%= (BigDecimal(lead_usage.total_battles)/@valid_leads).round(4) * 100 %>
        </td>

        <td class="usage-data">
          <%= lead_usage.wins %>
        </td>
        <td class="usage-data">
          <%= lead_usage.win_pct %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3> Team Combination Usage </h3>
<table class="table table-striped">
  <thead>
    <th class="usage-header"> Pokemon 1 </tg">
    <th class="usage-header"> Pokemon 2 </th>
    <th class="usage-header"> Pokemon 3 </th>
    <th class="usage-header"> Pokemon 4 </th>
    <th class="usage-header"> Total Battles Used </th>
    <th class="usage-header"> Used % </th>
    <th class="usage-header"> Wins </th>
    <th class="usage-header"> Win % </th>
  </thead>
  <tbody>
    <% @team_usage.each do |team_usage| %>
      <tr>
        <td class="usage-data">
          <%= team_usage.pokemon[0] %>
        </td>
        <td class="usage-data">
          <%= team_usage.pokemon[1] %>
        </td>
        <td class="usage-data">
          <%= team_usage.pokemon[2] %>
        </td>
        <td class="usage-data">
          <%= team_usage.pokemon[3] %>
        </td>
        <td class="usage-data">
          <%= team_usage.total_battles %>
        </td>
        <td class="usage-data">
          <%= (BigDecimal(team_usage.total_battles)/@valid_teams).round(4) * 100 %>
        </td>
        <td class="usage-data">
          <%= team_usage.wins %>
        </td>
        <td class="usage-data">
          <%= team_usage.win_pct %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
