<h2> Battle Tracker! </h2>
<%= form_for @battle do |f| %>
  <% if @errors.any? %>
    <div>
      <ul>
      <% @battle.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 user-team">
      <div class="user-team-select">
        <% if user_signed_in? %>
          <% if session[:user_team_id].nil? %>
            Get started by <%= link_to "creating a team", controller: "/user_teams" %>
          <% else %>
            <%= f.collection_select(:selected_team_id, UserTeam.where(user_id: current_user.id), :id, :name, { :selected => session[:user_team_id] } ) %>
          <% end %>
        <% else %>
          Either <%= link_to "sign in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %> to get started
        <% end %>
      </div>
      <div class ="pokemon-list">
      </div>
      <%= f.label(:user_pokemon_remaining, "User Pokemon Remaining:") %>
      <%= f.number_field :user_pokemon_remaining, value: session[:user_pokemon_remaining] %>
    </div>
    <div class="col-md-6 opponent-team">
      <br />
      <%= f.fields_for :opponent_team do |ff| %>
        <%= ff.fields_for :pokemon_team do |fa| %>
        <div class="form-group">
            <%= fa.label :pokemon1, "Pokemon 1:" %>
            <%= fa.text_field :pokemon1, value: session[:opponent_pokemon][:pokemon1]  %>
            <%= fa.label :pokemon1_lead, "Lead", class: 'checkbox-form-inline' %>
            <%= fa.check_box :pokemon1_lead, { checked: session[:opponent_pokemon][:pokemon1_lead] }  %>
            <%= fa.label :pokemon1_back, "Back", class: 'checkbox-form-inline' %>
            <%= fa.check_box :pokemon1_back, { checked: session[:opponent_pokemon][:pokemon1_back] }  %>
        </div>
        <% end %>

        <%= ff.fields_for :pokemon_team do |fa| %>
          <div class="form_group">
            <%= fa.label(:pokemon2, "Pokemon 2:") %>
            <%= fa.text_field :pokemon2, value: session[:opponent_pokemon][:pokemon2]  %>
            <%= fa.label :pokemon2_lead, "Lead"%>
            <%= fa.check_box :pokemon2_lead, { checked: session[:opponent_pokemon][:pokemon2_lead] }  %>
            <%= fa.label(:pokemon2_back, "Back") %>
            <%= fa.check_box :pokemon2_back, { checked: session[:opponent_pokemon][:pokemon2_back] }  %>
          </div>
        <% end %>

        <%= ff.fields_for :pokemon_team do |fa| %>
          <div class="pokemon">
            <%= fa.label(:pokemon3, "Pokemon 3:") %>
            <%= fa.text_field :pokemon3, value: session[:opponent_pokemon][:pokemon3]  %>
            <%= fa.label :pokemon3_lead, "Lead" %>
            <%= fa.check_box :pokemon3_lead, { checked: session[:opponent_pokemon][:pokemon3_lead] }  %>
            <%= fa.label :pokemon3_back, "Back" %>
            <%= fa.check_box :pokemon3_back, { checked: session[:opponent_pokemon][:pokemon3_back] }  %>
          </div>
        <% end %>

        <%= ff.fields_for :pokemon_team do |fa| %>
          <div class="pokemon">
            <%= fa.label(:pokemon4, "Pokemon 4:") %>
            <%= fa.text_field :pokemon4, value: session[:opponent_pokemon][:pokemon4]  %>
            <%= fa.label(:pokemon4_lead, "Lead") %>
            <%= fa.check_box :pokemon4_lead, { checked: session[:opponent_pokemon][:pokemon4_lead] }  %>
            <%= fa.label(:pokemon4_back, "Back") %>
            <%= fa.check_box :pokemon4_back, { checked: session[:opponent_pokemon][:pokemon4_back] }  %>
          </div>
        <% end %>

        <%= ff.fields_for :pokemon_team do |fa| %>
          <div class="pokemon">
            <%= fa.label(:pokemon5, "Pokemon 5:") %>
            <%= fa.text_field :pokemon5, value: session[:opponent_pokemon][:pokemon5]  %>
            <%= fa.label(:pokemon5_lead, "Lead") %>
            <%= fa.check_box :pokemon5_lead, { checked: session[:opponent_pokemon][:pokemon5_lead] }  %>
            <%= fa.label(:pokemon5_back, "Back") %>
            <%= fa.check_box :pokemon5_back, { checked: session[:opponent_pokemon][:pokemon5_back] }  %>
          </div>
        <% end %>

        <%= ff.fields_for :pokemon_team do |fa| %>
          <div class="pokemon">
            <%= fa.label(:pokemon6, "Pokemon 6:") %>
            <%= fa.text_field :pokemon6, value: session[:opponent_pokemon][:pokemon6]  %>
            <%= fa.label(:pokemon6_lead, "Lead") %>
            <%= fa.check_box :pokemon6_lead, { checked: session[:opponent_pokemon][:pokemon6_lead] } %>
            <%= fa.label(:pokemon6_back, "Back") %>
            <%= fa.check_box :pokemon6_back, { checked: session[:opponent_pokemon][:pokemon6_back] }  %>
          </div>
        <% end %>
      <% end %>
      <%= f.label(:opponent_pokemon_remaining, "Opponent Pokemon Remaining:") %>
      <%= f.number_field :opponent_pokemon_remaining, value: session[:opponent_pokemon_remaining] %>
    </div>
  </div>
  <div class="row">
    <%= f.label(:win, "Win:") %>
    <%= f.check_box :win, { checked: session[:win] } %>
    <%= f.label(:showdown, "Showdown:") %>
    <%= f.check_box:showdown, { checked: session[:showdown] } %>
    <%= f.label(:opponent_rating, "Opponent Rating") %>
    <%= f.number_field :opponent_rating, value: session[:opponent_rating] %>
  </div>
  <div class="row">
    <%= f.submit "Submit" %>
  </div>
<% end %>
