<!DOCTYPE html>
<html>
<head>
  <title>PokeData</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"> Poke-Data </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li> <%= link_to "Battles", controller: "/battles" %> </li>
          <li> <%= link_to "Create Team", controller: "/user_teams"%> </li>
          <li> <%= link_to "Data", controller: "/data", action: "show"%> </li>
          <% if user_signed_in? %>
            <p class="navbar-text"> Signed in as <%= current_user.email %> </p>
            <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li> <%= link_to "Sign In", new_user_session_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
